html
header
    title #{title}
    style(href='./bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    style(href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
body
    h1 #{title}
